$base-color: #EB4511;
$topNav-Color: #B02E0C;
$bottomNav-Color: #B02E0C;
$link-Color: darkgrey;
$main-color: #140F2D;
$p-Color: #E59F71;
$aboutMe-Color: #B02E0C;
$aboutHeader: #EB4511;
$fourth-color: #E0FBFC;
$fifth-color: #B02E0C;
$border-color1: #000;
$border-color2: #000;
$a-Color: #000;
$footer-Color: #B02E0C;
$my-num: 5;
$my-content: "howdy";
$my-list: "hi", "hello", "hey";